{% extends 'base.html' %}
 {% block title %} Profile Page{% endblock %}
 {% block body_block %}
  <h3>Your Profile</h3>

  {% if user.profile %}

  <img src="/media/profile_pics/{{user.user_profile.profile_pic}}" class="rounded-circle" width="120px" >
  <br>
  <br>
  <a href="{% url 'login_app:change_pic' %}" class="btn btn-info btn-sm">Change Picture</a>

  {% else %}
  <img src="/media/profile.png" class="rounded-circle" width="120px">
 
  <br>
  <a href="{% url 'login_app:add_pic' %}" class="btn btn-info btn-sm">Change Picture</a>

  {% endif %}
  <br>
  <p>Name:{{user.first_name}} {{user.last_name}}</p>
  <p>Username:{{user.username}}</p>
  <p>Email Address:{{user.email}}</p>
  <br>
    <a href="{% url 'login_app:edit_profile' %} " class="btn btn-warning btn-sm">Change Profile Info</a>
  {% endblock  %}