 {% extends 'base.html' %}
 {% load crispy_forms_tags %}
 {% block title %} Create New Account {% endblock %}
 {% block body_block %}
 <h3>Create New Account</h3>

 {% if registered %}
 <div class="alert alert-success">
    Account created successfully <a href="{% url 'login_app:login'%}">Login Here</a>
 </div>
 {% else %}
 <form method="POST">
     {{form|crispy}}
     {% csrf_token %}
     <button name="submit" class="btn btn-success btn-sm">Create Account</button>
 </form>
 <br>
 <p>Already have an account?<a href="{% url 'login_app:login'%}">Login Here</a></p>
 {% endif %}
 {% endblock  %}